@media only screen and (max-width:800px){
    .footerContent{
        justify-content: center !important;
    }
    .slogan{
        h3{
            text-align: center;
        }
        p{
            text-align: center;
            width: 100% !important;
        }
    }
}